.faceRecognition {
    display: flex;
    justify-content: center;
    &__wrapper {
        position: absolute;
        margin-top: 20px;
    }
    &__img {
        max-width: 500px;
        height: auto;
    }
}

.bounding-box {
    display: flex;  
    position: absolute;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer;
    box-shadow: 0 0 0 3px #149df2 inset;
}